$primaryThemeColor: rgb(37, 40, 48);
$secondaryThemeColor: rgb(67, 72, 87);
$primaryFontColor: rgb(245, 245, 245);
$secondaryFontColor: rgb(159, 162, 170);
$thirdFontColor: rgb(68, 70, 83);
$greenColor: rgb(27, 201, 142);
$redColor: rgb(230, 71, 89);
$purpleColor: rgb(159, 134, 255);
$yellowColor: rgb(228, 216, 54);
$blueColor: rgb(28, 168, 221);
$linkColor: rgb(25, 151, 198);
$hoverLinkColor: rgb(17, 105, 138);

body {
    background-color: $primaryThemeColor;
    margin: 20px auto 20px auto;
    color: $primaryFontColor;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

h1, h2, h3, h4
{
    font-weight: normal
}
h3{
    font-size: 30px;
}
a
{
    text-decoration: none;
    color: $primaryFontColor;
}
@media (max-width: 992px) {
    #mainPhoto, #basicInfo, #contactInfo
    {
        margin-bottom: 40px;
    }
}
#mainPhoto div
{
    border: $secondaryThemeColor solid 1px;
    border-radius: 7px;
    width: 112px;
}
#mainPhoto img
{
    height: auto;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
}


hr{
    border: 0;
    border-top: 1px solid $secondaryThemeColor;
    margin: 40px 0 40px 0;
    display: block;

}
#navigation{
    float: left;
}
#navigation nav ul li{
    list-style-type: none;
    color: $secondaryFontColor;
    margin-top: 20px;
}
#navigation nav ul li:hover{
    color: $primaryFontColor;
}
#content
{
    width: 80%;
    float: right;
}
.selectedNavigationItem
{
    color: $thirdFontColor;
}
table tbody tr td{
    width: 100px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#firstMainSkill .fa.fa-star
{
    color: $redColor
}
#secondMainSkill .fa.fa-star
{
    color: $greenColor
}
#thirdMainSkill .fa.fa-star
{
    color: $purpleColor;
}
#fourthMainSkill .fa.fa-star
{
    color: $yellowColor
}
.far.fa-star
{
    color: $secondaryThemeColor
}
#navigation button
{
    border: 1px solid $secondaryFontColor;
    color: $secondaryFontColor;
    width: 40px;
    position: relative;
    left: 40px;
}
.minorSkills
{
      position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}
div[id$="MainSkill"]
{
    margin-bottom: 60px;

    div:first-child
    {
    @media (min-width: 992px) {
         padding-right: 110px;
    }
        p
        {
            text-align: center;
            width: 110px;
            margin: 10px auto 0 auto;
        }  
    }
    
}
#education
{
     max-width: 600px;
     margin: auto auto auto 50px;
}
#expirience
{
     max-width: 600px;
     margin: auto auto auto 50px;
}
#aboutMe
{
     max-width: 600px;
     margin: auto auto auto 50px;
}
article
{
    line-height: 230%;
    p{
    }
    p:first-child
    {
        font-size: 20px;
        line-height: 200%;
    }
    span a{
        color: $linkColor;
    }
    span a:hover{
        text-decoration: underline;
        color: $hoverLinkColor;
    }
    
}
#content hr{
        border: 0.5px solid $primaryFontColor;
}

.verticaLine
{
    border-left: 1px solid $blueColor; 
    height: 370px;
    float: left;
    display: inline-block;
}
.lineDate
{
    display: inline-block;
    float: left;

    div{
        margin: 50px 0px 100px 0;
        p{
            padding-left: 10px;
            span{
                 color: $blueColor;
            }
        }
    }
}
.dateInfo
{
    display: inline-block;
    float: left;

    div{
        margin: 50px 0px 100px 0;
        p{
            span{
                 color: $blueColor;
            }
        }
    }
}
.dateDescriptions
{
    float: left;
    margin-left: 10px;
}
.descriptionContainer:first-child
{
    padding-top: 47px;

}
.descriptionContainer:nth-child(2)
{
    padding-top: 120px;
}
.descriptionContainer:last-child
{
    padding-top: 120px;
}
.descriptionContainer
{
    
    div{    
        background-color: $secondaryThemeColor;
        max-width: 20vw;
        border-radius: 7px;
        float: left;
    }
   
    p{
        margin: 1em;
        text-align: center;
        font-size: 10px;      
    }
    @media screen and (min-width: 800px) {
        p {
           font-size: 13px;
        }
      }
    .fa.fa-caret-left
    {
        display: inline-block;
        float: left;
        color: $secondaryThemeColor;
        font-size: 200%;
        margin-right: 5px;
    }
}
