body {
  background-color: #252830;
  margin: 20px auto 20px auto;
  color: whitesmoke;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h3 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

@media (max-width: 992px) {
  #mainPhoto, #basicInfo, #contactInfo {
    margin-bottom: 40px;
  }
}

#mainPhoto div {
  border: #434857 solid 1px;
  border-radius: 7px;
  width: 112px;
}

#mainPhoto img {
  height: auto;
  width: 100px;
  border-radius: 5px;
  margin: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #434857;
  margin: 40px 0 40px 0;
  display: block;
}

#navigation {
  float: left;
}

#navigation nav ul li {
  list-style-type: none;
  color: #9fa2aa;
  margin-top: 20px;
}

#navigation nav ul li:hover {
  color: whitesmoke;
}

#content {
  width: 80%;
  float: right;
}

.selectedNavigationItem {
  color: #444653;
}

table tbody tr td {
  width: 100px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#firstMainSkill .fa.fa-star {
  color: #e64759;
}

#secondMainSkill .fa.fa-star {
  color: #1bc98e;
}

#thirdMainSkill .fa.fa-star {
  color: #9f86ff;
}

#fourthMainSkill .fa.fa-star {
  color: #e4d836;
}

.far.fa-star {
  color: #434857;
}

#navigation button {
  border: 1px solid #9fa2aa;
  color: #9fa2aa;
  width: 40px;
  position: relative;
  left: 40px;
}

.minorSkills {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
}

div[id$="MainSkill"] {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  div[id$="MainSkill"] div:first-child {
    padding-right: 110px;
  }
}

div[id$="MainSkill"] div:first-child p {
  text-align: center;
  width: 110px;
  margin: 10px auto 0 auto;
}

#education {
  max-width: 600px;
  margin: auto auto auto 50px;
}

#expirience {
  max-width: 600px;
  margin: auto auto auto 50px;
}

#aboutMe {
  max-width: 600px;
  margin: auto auto auto 50px;
}

article {
  line-height: 230%;
}

article p:first-child {
  font-size: 20px;
  line-height: 200%;
}

article span a {
  color: #1997c6;
}

article span a:hover {
  text-decoration: underline;
  color: #11698a;
}

#content hr {
  border: 0.5px solid whitesmoke;
}

.verticaLine {
  border-left: 1px solid #1ca8dd;
  height: 370px;
  float: left;
  display: inline-block;
}

.lineDate {
  display: inline-block;
  float: left;
}

.lineDate div {
  margin: 50px 0px 100px 0;
}

.lineDate div p {
  padding-left: 10px;
}

.lineDate div p span {
  color: #1ca8dd;
}

.dateInfo {
  display: inline-block;
  float: left;
}

.dateInfo div {
  margin: 50px 0px 100px 0;
}

.dateInfo div p span {
  color: #1ca8dd;
}

.dateDescriptions {
  float: left;
  margin-left: 10px;
}

.descriptionContainer:first-child {
  padding-top: 47px;
}

.descriptionContainer:nth-child(2) {
  padding-top: 120px;
}

.descriptionContainer:last-child {
  padding-top: 120px;
}

.descriptionContainer div {
  background-color: #434857;
  max-width: 20vw;
  border-radius: 7px;
  float: left;
}

.descriptionContainer p {
  margin: 1em;
  text-align: center;
  font-size: 10px;
}

@media screen and (min-width: 800px) {
  .descriptionContainer p {
    font-size: 13px;
  }
}

.descriptionContainer .fa.fa-caret-left {
  display: inline-block;
  float: left;
  color: #434857;
  font-size: 200%;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */